
<!DOCTYPE html>
<html>
<head><title>Feedback</title></head>
<body>
<h1>User Feedback</h1>
<form action="#" method="post">
  <label>Ease of Use (1-5):</label><br>
  <input type="number" name="ease" min="1" max="5"><br><br>
  <label>Are you more likely to invest in hydroponics after using this site?</label><br>
  <select name="interest">
    <option>More likely</option>
    <option>Less likely</option>
    <option>No change</option>
  </select><br><br>
  <label>Comments:</label><br>
  <textarea name="comments" rows="5" cols="40"></textarea><br><br>
  <button type="submit">Submit Feedback</button>
</form>
</body>
</html>
